.navbar.navbar-inverse.navbar-fixed-top.scroll
  include flash-messages
  .navbar-inner
    .container
      //- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. 
      a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar

      block brand

      //- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. 
      #topbar
        ul.nav.nav-collapse.collapse            
          block menu-items                                      
      a#nav-tweet.btn.btn-small.pull-right(href=tweet_url, target='_blank')
        i.icon.icon-twitter
        span &nbsp;Tweet                  
      if (user)       
        a#nav-logout.pull-right.btn.btn-info.btn-small(href='/logout') 
          i.icon-white.icon-user
          | &nbsp;Logout      
        #logged-in
          ul.nav
            li.divider-vertical
          span#user-name= user.display_name
          img#user-photo.img-rounded(src=user.photo_url)                
      else
        a#nav-login.pull-right.btn.btn-primary.btn-small(href='#login-modal', data-toggle='modal') 
          i.icon-white.icon-user
          | &nbsp;Login

//- The login modal dialog that is linked to by the #nav-login link above:
include login-modal