if (flash.info)
  #flash-server-info.alert.alert-info
    button.close(type='button', data-dismiss='alert') x
    each msg in flash.info
      span= msg
      br
if (flash.success)
  #flash-server-success.alert.alert-success
    button.close(type='button', data-dismiss='alert') x
    each msg in flash.success
      span= msg
      br
if (flash.warn)
  #flash-server-warn.alert.alert-block
    button.close(type='button', data-dismiss='alert') x
    each msg in flash.warn
      span= msg
      br
if (flash.error)
  #flash-server-error.alert.alert-error
    button.close(type='button', data-dismiss='alert') x
    each msg in flash.error
      span= msg
      br
#flash-client-info.client-alert.alert.alert-info.fade.in(style='display:none')
  button.close(type='button', data-dismiss='alert') x
  .content
#flash-client-success.client-alert.alert.alert-success.fade.in(style='display:none')
  button.close(type='button', data-dismiss='alert') x  
  .content
#flash-client-warn.client-alert.alert.alert-block.fade.in(style='display:none')
  button.close(type='button', data-dismiss='alert') x  
  .content
#flash-client-error.client-alert.alert.alert-error.fade.in(style='display:none')
  button.close(type='button', data-dismiss='alert') x  
  .content      