if (flash.info)
  #flash-info.alert.alert-info
    button.close(type='button', data-dismiss='alert') x
    each msg in flash.info
      p= msg
if (flash.success)
  #flash-success.alert.alert-success
    button.close(type='button', data-dismiss='alert') x
    each msg in flash.success
      p= msg
if (flash.warn)
  #flash-warn.alert.alert-block
    button.close(type='button', data-dismiss='alert') x
    each msg in flash.warn
      p= msg            
if (flash.error)
  #flash-error.alert.alert-error
    button.close(type='button', data-dismiss='alert') x
    each msg in flash.error
      p= msg      