#login-modal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='loginModalLabel', aria-hidden='true')
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') x
    h3#loginModalLabel= title
  .modal-body
    .container.span5
      h1.thin-heading Welcome back!
      p.lead
        | Please login with one of the following:
      a.btn.btn-large.btn-primary(href='/auth/facebook')
        i.icon.icon-facebook
        | &nbsp;
        | Login with Facebook
      br
      br
      a.btn.btn-large.btn-primary(href='/auth/twitter')
        i.icon.icon-twitter
        | &nbsp;
        | Login with Twitter
      br
      br
      a.btn.btn-large.btn-primary(href='/auth/github')
        i.icon-white.icon-user
        | &nbsp;
        | Login with GitHub
  .modal-footer
    button.btn(data-dismiss='modal', aria-hidden='true') Close