#login-modal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='loginModalLabel', aria-hidden='true')
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') x
    h3#loginModalLabel= title
  .modal-body
    .container.span6
      h1 Welcome back!
      p.lead
        | Please configure Passport strategies
  .modal-footer
    button.btn(data-dismiss='modal', aria-hidden='true') Close