extends base-top-nav

block brand
  a.brand.scrollto(href='#home')= title

block menu-items
  li
    a.scrollto(href='#what') What
  li
    a.scrollto(href='#why') Why
  li
    a.scrollto(href='#how') How
  li
    a.scrollto(href='#blog') Blog