extends layout

append stylesheets
  link(href='/assets/css/home-page.css', rel='stylesheet')

append javascripts
  script(src='/assets/js/home-page.js')

append header
  include includes/node-boot-nav

block content
  include includes/node-boot-content