extends layout

append stylesheets
  link(href='/assets/css/signup.css', rel='stylesheet')

append javascripts
  script(src='/3party/jquery/jquery.validate.js') 
  script(src='/assets/js/signup.js') 

block header

block content
  #home
  .container.row
    .span6.offset3
      h3= title
      header
      form#signup-form(method='POST', action='/signup').form-horizontal
        .well
          h1.thin-heading Welcome #{user.display_name}!
          p
            img#user-photo.img-polaroid(src=user.photo_url)
          p.lead I promise we will never spam you or give your email to anyone.
          .control-group
            label.control-label(for='inputEmail') Email Address
            .controls
              input#inputEmail.required.email(type='text', name='email', placeholder='your@email.here', spellcheck='false')
          .form-actions
            button.btn.btn-primary(type='submit') Finish Sign Up!
            a#not-now.btn(href='/') Not Now
          a#not-you(href='/logout') Not You?