body {
  /* pad content that the fixed navbar overlaps */
  padding-top: 50px;
}
@media screen and (max-width: 979px) {
  body { 
    /* on tablets and phone, don't add extra padding since navbar will be static instead of fixed
    i.e. there isn't overlapping content to pad */
    padding-top: 0px; 
  }
}

#flash-info, #flash-success, #flash-warn, #flash-error {
  /* get rid of margin below alerts so we can put them above our fixed nav without whitespace between
  the alert message and the navbar */
  margin-bottom: 0px; 
}